{
    "iOS": [
                {
                    "versionRanges": {
                        "startVersion": "1.0.1",
                        "endVersion": "1.1.0"
                    },
                    "config": {
                        "honeMenus": []
                    }
                },
                {
                    "versionRanges": {
                        "startVersion": "2.0.1",
                        "endVersion": "2.1.0"
                    },
                    "config": {
                        "honeMenus": []
                    }
                }
            ],
    "android": []
}


